In [1]:
from config import CONFIG
from storageutils import MySQLManager

In [22]:
query = 'select * from Moviedb6714;'
res=[]
try:
    res=MySQLManager.execute_query(query,None,**CONFIG['database']['gnits'])
except Exception as error:
    print(error)
res

[{'movie_title': 'Bahubali',
  'movie_id': '1',
  'genre': 'Action',
  'release_date': datetime.date(2022, 3, 24),
  'director': 'Rajamouli'}]

In [23]:
#query='insert into Moviedb6714 values("{}","{}","{}","{}");'.format("RRR","Action","2022-03-24","Rajamouli")
try:
    res=MySQLManager.insert("Moviedb6714",{'movie_title': 'RRR','movie_id':'2','genre': 'Action',
  'release_date': '2022-03-24',
  'director': 'Rajamouli'},**CONFIG['database']['gnits'])
except Exception as error:
    print(error)

In [24]:
#query="update Moviedb6714 set release_date='2015-05-21' where movie_title='Bahubali';"
try:
    res=MySQLManager.update("Moviedb6714",{'release_date': '2015-05-21'},{'movie_title': 'Bahubali'},**CONFIG['database']['gnits'])
except Exception as error:
    print(error)

In [25]:
query='insert into Moviedb6714 values("{}","{}","{}","{}","{}");'.format("AlaVaikuntapuramlo","Drama","3","2020-01-12","Trivikram")
try:
    res=MySQLManager.execute_query(query,None,**CONFIG['database']['gnits'])
except Exception as error:
    print(error)

No result set to fetch from.

In [39]:
from faker import Faker
import numpy as np
import random

fake = Faker()
genre_list = ['Action', 'Drama', 'Sci-fi', 'Horror','Thriller']

def faker_data_generator(num=1, seed=None):
    fake.seed_instance(seed)
    output = []
    for x in range(num):
       given_name = fake.first_name()
       surname = fake.last_name()
       generated_name = given_name + ' ' + surname
       def capitalize(str):
          return str.capitalize()
       words = fake.words()
       capitalized_words = list(map(capitalize, words))
       movie_title1 = ' '.join(capitalized_words)
       #movie_title1 = fake.title()
       movie_date1 = fake.date()
       output.append(
        {
           "movie_title": movie_title1,
           "movie_id":x +250,
           "genre": random.choice(genre_list) ,
           "release_date": movie_date1 ,
           "director":generated_name
        }
      )
    return output

In [40]:
Movie_db = faker_data_generator(250, 2)
table = 'Moviedb6714'
cols = ['movie_title', 'movie_id', 'genre', 'release_date', 'director']
data = []
for item in Movie_db:
    x = {}
    x['movie_title'] = item['movie_title']
    x['movie_id'] = str(item['movie_id'])
    x['genre'] = item['genre']
    x['release_date'] = item['release_date']
    x['director'] = item['director']
    data.append(x)
    if len(data) > 200:
        MySQLManager.bulk_insert(table, cols, data, **CONFIG["database"]["gnits"])
        data = []
MySQLManager.bulk_insert(table, cols, data, **CONFIG["database"]["gnits"])

49